/* Import custom fonts */
@import url("https://use.typekit.net/lkl6bnr.css");  /* Poppins */ 
@import url("https://use.typekit.net/lkl6bnr.css");  /* Playfair Display */

/* TODO: Create a base style for Mia Makes */
:root {
    --font-color: black;
    --default: 1.2rem;
    --sub-heading: 1.8rem;
    --heading: 2.2rem;
}


body {
    margin: 1rem;
    padding: 0.5rem;
    color: var(--font-color);
    font-size: var(--default);
}

label {
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--heading);
}

h3 {
    font-size: var(--sub-heading);
}

li {
    list-style: none;
}

p, input, a {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    font-style: normal;
    height: 2.5vh;    
}

input {
    margin: 1rem;
}

#add-to-recipes-btn {
    height: 3rem;
    width: 15%;
    padding: 1rem, 1rem;
    background: burlywood;
    border-style: none;
    box-shadow: 2px 2px 2px;
}

.step-container {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    margin-top: 0.5rem;
    margin: -.1rem 0;
}

/* Create CSS animation for empty value for form data */
#recipe-name:focus {
    border-color: black;
    box-shadow: 2px 2px 10px;
}

#recipe-name:invalid {
    border-color: red;
    box-shadow: 2px 2px 10px;
    /* Add a shake animation */
    animation: shake 0.2s;
    animation-iteration-count: 3;

}

@keyframes shake {
    from{
    transform: translateX(4px);
    }
    to {
        transform: translateX(-4px);
    }    
}



#recipe-name:valid {
    border-color: green;
    box-shadow: 2px 2px 10px green;
}